@model User

<style>
    .top-image {
        background-image: none; /* Resminizin yolunu buraya ekleyin */
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 10vh; /* İstediğiniz yüksekliği ayarlayın */
        width: 10%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">
                @Model.UserName
            </h6>

            <p class="lead text-secondary">@Model.Email</p>
        </div>
    </div>
</div>


<div class="text-center">

    <div class="btn-group">
        <a class="btn btn-outline-primary"asp-action="Index">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <a class="btn btn-outline-primary"asp-action="Index">
            <i class="fa-solid fa-list"></i>
            Users
        </a>
    </div>

</div>
