html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/******************---------NAVBAR STYLE--------********************/
/* styles.css */
/* Düðme üzerine geldiðinde hover efekti ekleyin */
.custom-button {
    padding: 3px 70px; /* Ýç margin deðerlerini ayarlayýn (örnekte 15px üst-alt, 20px sol-sað iç kenar boþluðu) */
}
.btn-hover {
    border-radius: 20px;
}
.btn-hover:hover {
    background-color: #2772db !important; /* "warning" rengi */
    color: #fff; /* Yazý rengini beyaz yapabilirsiniz */
}
.btn-home {
    border-radius: 20px;
    background-color: #2772db !important; /* "warning" rengi */
    color: #fff; /* Yazý rengini beyaz yapabilirsiniz */
}
    .btn-home:hover {
        background-color: #fff !important; /* "warning" rengi */
        color: #2772db !important; /* Yazý rengini beyaz yapabilirsiniz */
    }
/******************-----NAVBAR STYLE FINISH-----********************/
/******************-----LOGIN SAYFASI STYLE-----********************/
Body {
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?cs=srgb&dl=pexels-veeterzy-39811.jpg&fm=jpg");
    background-size: 100% 100%;
    background-size: cover;
    font-family: arial;
    text-align: center;
    margin-bottom: 60px;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top: 20px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    border: 3px dotted #d2dfe7;
    background: #fff;
}

h2 {
    margin: 0;
    padding: 0 0 26px;
    color: #d2dfe7;
    text-align: center;
    text-transform: uppercase;
}


.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

    .loginBox input[type="email"], 
    .loginBox input[type="text"],
    .loginBox input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background-color: #0092ca;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
    font-weight: bold;
    text-transform: uppercase;
}

    .loginBox input[type="submit"]:hover {
        background-color: #2772db;
        color: #fff;
    }

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

/******************-----LOGIN SAYFASI FINISH-----********************/