html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/******************---------NAVBAR STYLE--------********************/
.custom-button {
    padding: 3px 70px;
}
.btn-hover {
    margin-bottom: 2px;
    max-width: 200px;
    border-radius: 20px;
}
    .btn-hover:hover {
        background-color: #2772db !important;
        color: azure !important;
    }
.btn-home {
    margin-bottom: 2px;
    border-radius: 20px;
    background-color: #2772db !important;
    color: #fff !important;
    max-width: 200px;
    text-align: center;
}
.btn-home:hover {
    background-color: #fff !important; 
    color: #2772db !important; 
}
/******************-----NAVBAR STYLE FINISH-----********************/
/******************-----BTN LOGIN STYLE-----********************/
.Btn-Login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #3B71CA;
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sign svg {
        width: 17px;
    }

        .sign svg path {
            fill: white;
        }
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 60;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn-Login:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

    .Btn-Login:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }
    /* hover effect button's text */
    .Btn-Login:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }
/* button click effect*/
.Btn-Login:active {
    transform: translate(2px,2px);
}
/******************-----LOGIN SAYFASI STYLE-----********************/
.body-home {
    background: url(bg.jpg);
    background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?cs=srgb&dl=pexels-veeterzy-39811.jpg&fm=jpg");
    background-size: 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    font-family: arial;
    text-align: center;
    margin-bottom: 60px;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-top: 20px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    border: 3px dotted #d2dfe7;
    background: #fff;
}

h2 {
    margin: 0;
    padding: 0 0 26px;
    color: #d2dfe7;
    text-align: center;
    text-transform: uppercase;
}


.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

    .loginBox input[type="email"], 
    .loginBox input[type="text"],
    .loginBox input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background-color: #0092ca;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
    font-weight: bold;
    text-transform: uppercase;
}

    .loginBox input[type="submit"]:hover {
        background-color: #2772db;
        color: #fff;
    }

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

/******************-----LOGIN SAYFASI FINISH-----********************/