<nav class="navbar bg-dark border-bottom navbar-expand-lg">
  <div class="container-fluid">
        <a class="navbar-brand text-white" asp-area="Customer" asp-controller="Home" asp-action="Index">Customer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav flex-drow-1">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
        </li>
@*         <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" asp-controller="Product" asp-action="Index">Products
            (@await Component.InvokeAsync("ProductSummary"))</a>
        </li> *@
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" asp-controller="Talep" asp-action="Index">Talep Olustur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" asp-controller="Messages" asp-action="Index">Mesajlar</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a target="_blank" class="nav-link text-white" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
        </li>
      </ul>
    </div>
  </div>
</nav>