@model EkipDto

<div class="text-center">
    <div class="display-6">Create</div>
</div>

<form method="post" asp-action="CreatePage" enctype="multipart/form-data">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group my-3">
        <label asp-for="EkipName"></label>
        <input asp-for="EkipName" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="EkipLead"></label>
        <input asp-for="EkipLead" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="EkipTelNo"></label>
        <input asp-for="EkipTelNo" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="AracName"></label>
        <input asp-for="AracName" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="AracPlakasi"></label>
        <input asp-for="AracPlakasi" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label asp-for="AracImgUrl"></label>
        <input name="file" type="file" class="form-control" />
    </div>
    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Kaydet
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Ekiplerim
            </a>
        </div>
    </div>
</form>