@{
    ViewData["Title"] = "Customer Page";
}
<style>
    /* Hizmetlerin stilini özelleştirin */
    .service-list {
        list-style-type: none;
        padding: 0;
    }

    .service-item {
        margin-bottom: 20px;
    }

    .service-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .service-description {
        font-size: 16px;
        color: #666;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .nedenbiz {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .nedenbiz2 {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .nedenbiz3 {
        margin-left: 100px;
    }


    .navbar-top {
        z-index: 1000; /* Daha büyük bir z-index değeri kullanabilirsiniz */
        position: relative;
    }

</style>
<div class="container">
    <section>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4" style="text-align:center">Taşınma Stresini Unutun, Biz Siz İçin Buradayız!</h1>
                <p class="lead" style="text-align:center">Sizler için taşımanın güvenli ve hızlı yolunu sunuyoruz!</p>
                <hr class="my-4">
                <img class="center" src="https://www.ubexpres.com/wp-content/uploads/ulkeler-arasi-evden-eve-esya-tasimaciligi.jpg" />
                <p class="lead">Nakliyat ihtiyaçlarınız için doğru adrestesiniz. TasimaUgrasma olarak, eşyalarınızı güvenli ve sorunsuz bir şekilde taşımak için buradayız. Her türlü yükünüzü, evden eve taşımaktan iş yeri nakliyesine kadar her tür taşıma hizmetini sunuyoruz. Deneyimli ve profesyonel ekibimizle, sizin için taşıma sürecini kolaylaştırıyoruz.</p>
                <br>
            </div>
        </div>
    </section>


    <section>

        <div class="row">
            <div class="col-12 col-sm-4 col-lg-4 col-md-4">

                <div class="card">
                    <div>
                        <img class="card-img-top" src="\images\hizmet.png" width=auto; height=170px; alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 style="text-align:center">Nakliyat Talebini Oluştur</h5>
                        <p class="card-text"><br>Dilediğin gibi nakliyat talebini oluşturarak taşıma detaylarını girebilirsin.</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-4 col-lg-4 col-md-4">
                <div class="card">
                    <div>
                        <img class="card-img-top" src="\images\teklif.png" width=auto; height=170px; alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 style="text-align:center">Teklifleri Değerlendir</h5>
                        <p class="card-text"><br>Gelen teklifleri değerlendirerek senin için en uygun teklifi seçebilirsin.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-lg-4 col-md-4">
                <div class="card">
                    <div>
                        <img class="card-img-top" src="\images\iletisim.png" width=auto; height=170px; alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 style="text-align:center">Teklifi Seç ve İletişime Geç</h5>
                        <p class="card-text"><br>Teklifini seçtiğin hizmet verenle kolayca iletişim kurabilir ve nakliyatını yaptırabilirsin.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>

        @*<div class="container mt-5">
        <div class="jumbotron">
        <h1 class="display-4">Hizmetlerimiz</h1>

        <hr class="my-4">

        <ul>
        <li><strong>Evden Eve Nakliyat:</strong> Evinizi taşırken size yardımcı oluyoruz. Değerli eşyalarınızı güvenle yeni adresinize taşıyoruz.</li>
        <hr class="my-4">
        <li><strong>Ofis ve İş Yeri Nakliyatı:</strong> İş yerinizi başka bir yere taşımanın karmaşıklığına son veriyoruz. İşinizi aksatmadan sorunsuz bir şekilde nakliyat yapılıyor.</li>
        <hr class="my-4">
        <li><strong>Şehirler Arası Nakliyat:</strong> Türkiye genelinde şehirler arası taşıma hizmetleri sunuyoruz. İstediğiniz şehre güvenle taşınıyoruz.</li>
        <hr class="my-4">
        <li><strong>Depolama Hizmetleri:</strong> Eşyalarınıza geçici bir depo ihtiyacınız varsa, güvenli ve temiz depolama alanlarımızı kullanabilirsiniz.</li>
        <hr class="my-4">
        <li><strong>Paketleme ve Montaj Hizmetleri:</strong> Eşyalarınızı özenle paketliyor ve taşıma sonrası montaj işlemlerini gerçekleştiriyoruz.</li>
        </ul>

        <br>
        </div>
        </div>*@



        <h1 style="margin-top:20px;">Hizmetlerimiz</h1>
        <hr class="my-4">
        <ul class="service-list">
            <li class="service-item">
                <div class="service-title">Evden Eve Nakliyat</div>
                <div class="service-description">
                    Evinizi taşırken size yardımcı oluyoruz. Değerli eşyalarınızı güvenle yeni adresinize taşıyoruz.
                </div>
            </li>
            <li class="service-item">
                <div class="service-title">Ofis ve İş Yeri Nakliyatı</div>
                <div class="service-description">
                    İş yerinizi başka bir yere taşımanın karmaşıklığına son veriyoruz. İşinizi aksatmadan sorunsuz bir şekilde nakliyat yapılıyor.
                </div>
            </li>
            <li class="service-item">
                <div class="service-title">Şehirler Arası Nakliyat</div>
                <div class="service-description">
                    Türkiye genelinde şehirler arası taşıma hizmetleri sunuyoruz. İstediğiniz şehre güvenle taşınıyoruz.
                </div>
            </li>
            <li class="service-item">
                <div class="service-title">Paketleme ve Montaj Hizmetleri</div>
                <div class="service-description">
                    Eşyalarınızı özenle paketliyor ve taşıma sonrası montaj işlemlerini gerçekleştiriyoruz.
                </div>
            </li>
        </ul>



    </section>




    <div class="features-list row nedenbiz">
        <div class="col-sm-6 col-md-3">
            <img class="section-features-img d-block nedenbiz3" src="https://www.shiply.com/img/2017-lp/feature-fastandeasy.png" loading="lazy" alt="Fast and Easy" width="51" height="63" />
            <h3 class="section-features-h3 nedenbiz2">Fast and Easy</h3>
            <p class="section-features-p nedenbiz2">Complete one simple form and quotes come to you via email. Hassle-free, no phone calls required.</p>
        </div>
        <div class="col-sm-6 col-md-3 section-features-col1">
            <img class="section-features-img d-block nedenbiz3" src="https://www.shiply.com/img/2017-lp/feature-trustworthy.png" loading="lazy" alt="Trustworthy" width="52" height="63" />
            <h3 class="section-features-h3 nedenbiz2">Trustworthy</h3>
            <p class="section-features-p nedenbiz2">All courier services on Shiply are feedback rated for your peace of mind.</p>
        </div>
        <div class="col-sm-6 col-md-3 section-features-col2">
            <img class="section-features-img d-block nedenbiz3" src="https://www.shiply.com/img/2017-lp/feature-prices-1.png" loading="lazy" alt="Great Prices" width="78" height="63" />
            <h3 class="section-features-h3 nedenbiz2">Great Prices</h3>
            <p class="section-features-p nedenbiz2">As Shiply's courier services are already making similar trips, quotes are up to 75% cheaper than standard rates.</p>
        </div>
        <div class="col-sm-6 col-md-3 section-features-col2">
            <img class="section-features-img d-block nedenbiz3" src="https://www.shiply.com/img/2017-lp/feature-helpful.png" loading="lazy" alt="Helpful" width="63" height="63" />
            <h3 class="section-features-h3 nedenbiz2">Helpful</h3>
            <p class="section-features-p nedenbiz2">Need assistance? Email or call us. We are here to help.</p>
        </div>
    </div>





    <section>

        <h1 style="margin-top:20px;">Kullanıcı Yorumları</h1>
        <div class="card2-container">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 col-md-4 custom-card">
                    <div class="card2">
                        <div class="header">
                            <div class="image">

                                <img src="https://img.ekstat.com/profiles/deliadam-637469650746732360.jpg" width=62px; height=62px; alt="Card image cap">


                            </div>
                            <div>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p class="name">John Doe</p>
                            </div>
                        </div>

                        <p class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                            voluptatem alias ut provident sapiente repellendus.
                        </p>
                    </div>
                </div>


                <div class="col-12 col-sm-4 col-lg-4 col-md-4 custom-card">
                    <div class="card2">
                        <div class="header">
                            <div class="image">

                                <img src="https://pbs.twimg.com/ext_tw_video_thumb/1573059377099149313/pu/img/iuIrafLy4FJG0G9q?format=jpg&name=900x900" width=62px; height=62px; alt="Card image cap">


                            </div>
                            <div>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                </div>
                                <p class="name">John Doe</p>
                            </div>
                        </div>

                        <p class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                            voluptatem alias ut provident sapiente repellendus.
                        </p>
                    </div>
                </div>


                <div class="col-12 col-sm-4 col-lg-4 col-md-4 custom-card">
                    <div class="card2">
                        <div class="header">
                            <div class="image">

                                <img src="https://pbs.twimg.com/ext_tw_video_thumb/1573059377099149313/pu/img/iuIrafLy4FJG0G9q?format=jpg&name=900x900" width=62px; height=62px; alt="Card image cap">


                            </div>
                            <div>
                                <div>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <p class="name">John Doe</p>
                            </div>
                        </div>

                        <p class="message">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                            voluptatem alias ut provident sapiente repellendus.
                        </p>
                    </div>
                </div>




            </div>
        </div>


    </section>

</div>
