@model User

<div class="text-center">
    <div class="display-6">Update</div>
</div>

<form method="post" asp-action="Update">

    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />
@* 
    <div class="form-group my-3">
        <label asp-for="Id">Category Name</label>
        <select class="form-control" asp-items="@ViewBag.Categories" asp-for="CategoryId">
        </select>
    </div> *@

    <div class="form-group my-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    
    <div class="form-group my-3">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    
@*     <div class="form-group my-3">
        <img class="rounded shadow" width="150" src="@Model?.ImageUrl" />
    </div> *@
    
@*     <div class="form-group my-3">
        <label asp-for="ImageUrl"></label>
        <input type="file" name="file" class="form-control" />
    </div> *@
    
    <div class="form-group my-3">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Update
            </button>
            <a asp-action="Index" class="btn btn-outline-primary">
                <i class="fa fa-list"></i>
                Product
            </a>
        </div>
    </div>
</form>