<div class="border-top p-3" style="background-color:#f1f1f1;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center">
                    <i class="fa-solid fa-truck-fast"></i>
                    <br />
                    <bold>TasimaUgrasma</bold>
                </div>
                <div class="text-muted text-center">
                    Sizin İçin Buradayız!
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    &copy; 2023 <br /> TasimaUgrasma.com
                </div>

                <div class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div products="" number="6"></div>
            </div>
        </div>
    </div>
</div>